.clicked {
    opacity: 0.5;
    filter: blur(1px);
  -webkit-filter: blur(1px);

}

.box {
  width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
}