.clicked {
    opacity: 0.1;
    filter: blur(1px);
  -webkit-filter: blur(1px);
  transition: all 0.4s;

}

.box {
  width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: all 1s;
}

.image-container:after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 200px;
  box-shadow: inset 0px 0px 30px 30px rgba(0,0,0,0.8);
}